.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
}

.card img {
  width: 100px;
  height: 100px;
}

.cards {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
